/* FILE: assets/css/base/typography.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: var(--gray-500);
  background-color: var(--gray-50);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray-900);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--spacing-md);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1rem;
}

.text-muted {
  color: var(--gray-400);
}
.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primary-600);
}

strong {
  font-weight: 600;
}
p {
  max-width: 65ch; /* improves readability on large screens */
}
